@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans');

$texto: "Open Sans", Tahoma, Verdana;
$titulo: "Fjalla One", Arial; 

$cor1:#000;
$cor2:#F00;
$cor3:#CCC;
$cor4:#FFF;

$transicao: all 0.5s;

@mixin texto() {
    font: 1.2em $texto;
    color: $cor4;
}

/*-----TAGS-----*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background:linear-gradient(to top, $cor4, $cor3) fixed;
}

.no-cssgradients body {
    background: #333;
}

header {
    background: $cor1;
    width: 100%;
    padding: 10px; //Margin interna
    box-sizing: border-box; //Ate o tamanho da borda nao cria barra
    position: fixed;
    z-index: 1000;
    & nav {
        
        float: right;
        margin-top: 14px;

         & ul li {//Deixa ul e li um ao lado do outro
            display: inline;
            list-style: nome;
            
            & a {
                @include texto();
                transition: $transicao;
                text-decoration: nome;
                text-transform: uppercase;
                margin-left: 13px;

                &:hover{
                    color: $cor2;
                    text-decoration: none;
                }
            }
        }
    }
}



/*-----CLASSES-----*/

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

.texto {
    position: absolute;
    top: 200px;
    color: $cor4;
    font-family: $titulo;
    left: 30px;
    text-shadow: 2px 2px 2px $cor1;//Sobra no Texto
    & p {
        font-size: 1.4em;
    }

    & h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    & .btn {
        border: 1px solid $cor4;
        padding: 5px;
        transition: $transicao;
        text-shadow: 0 0 0 transparent;
        color: $cor4;
        text-decoration: none;
        &:hover{
            background: $cor4;
            color: $cor1;
        }
    }
}

.container {
    width: 1000px;
    margin: auto;//Para conteudo centralizado
    & h1 {
        font: 3em $titulo;
        margin: 50px 0px 20px 0px;//TOP RIGHT BOTTOM LEFT - para margin e padding
    }

    & h2 {
        font: 2em $titulo;
        color: $cor3;
        margin-bottom:  20px;
    }

    & p{
        font: 1.2em $texto;
        text-align: justify;
        margin: 10px 0px;
    }

    & .h2-filmes {
        color: $cor1;
    }
}

.img {
    width: 90%;
    background: $cor4;
    padding: 10px;
    box-shadow: 2px 2px 2px $cor3;
    transform: rotate(-1deg);
}


.img-filme {
    width: 90%;
    background: $cor4;
    padding: 10px;
    box-shadow: 2px 2px 2px $cor3;
}

.col1 {
    width: 30%;
}

.col2 {
    width: 70%;
}

.top {
    padding-top: 70px;
}

/*-----IDS-----*/

#menu {
    border: 1px solid $cor4;
    padding: 5px 10px;
    color: $cor4;
    font-size: 1.5em;
    float: right; 
    margin-top: 5px;
    display: none;   
}

#banner {
    width: 100%;
    padding-top: 70px;
    & img {
        width: 100%;
    }
}

#filmes {
    width: 100%;
    background: url(../images/bg.jpg) fixed;
    padding: 50px 0px;
    float: left;


    & h2 {
        text-transform: uppercase;
        color: $cor4;
        margin-bottom: 20px;
    }

    & .filme {
        width: 33%;
        float: left;
        padding: 20px;
        box-sizing: border-box;
    }

    & img {
        filter: sepia(80%);
        transition: $transicao;
        &:hover{
            filter: sepia(0%);
        }
    }
}

#img-origins{
    margin-top: 7px;
    margin-bottom: 25px;

    h2 {
        color: $cor1;
    }
}

#img-logan {
    margin-top: 22px;
}

footer {
    width: 100%;
    background: $cor1;
    padding: 20px 0px;
    float: left;
    & a {
        font-size: 2.5em;
        color: $cor4;
        text-decoration: none;//Retirar o sublinhado
        transition: $transicao;
        margin-left: 15px;

        &:hover{
            color: $cor2;
        }
    }    
    & p {
         @include texto();
    }

}

#formulario {
    font: 1.0em $texto;
    width: 700px;
    color:$cor4;
    margin: auto;
    background: $cor3;
    padding: 20px 40px; 
    border: 2px solid $cor1;
    margin-bottom: 10px;
}

#formulario-area input, #formulario-area textarea {
    padding: 5px;
	width: 700px;
    font: 1.0em $texto;
    font-size:14px;
    font-weight:300;
    color: $cor4;
    background-color:transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid $cor4;
    border-right: 1px solid transparent;
    margin-bottom:20px;
    outline-color: $cor1;
}  

#formulario-area {
    
    .submit-button {
        font: 1.0em $texto;
        text-transform:uppercase;
        width: 200px;
        background-color:transparent;
        border: 1px solid $cor4;

        &:hover {
            color:#fff;
            background-color:$cor1;
        }
    }
}

/*-----MEDIA QUERIES-----*/

@media (max-width: 320px) {
    #menu {
        display: block; //Aparecer o menu
    }
    nav {
           display: none;
           background: $cor1;
           width: 100%;
           float: left;
           position: relative;
           z-index: 100;
           & ul li {
                display: block;
                & a {
                    float: left;
                    padding: 10px;
                    width: 100%;
                    border-bottom: 1px solid $cor4;
                }
           }
    }
    .texto {
        top: 80px;

        & p {
            font-size: 1em;
        }

        & h1 {
            font-size: 1.5em;
        }
    }

    .container {
        width: 320px;
        padding: 10px;
        box-sizing: border-box;
    }

    .filme {
        width: 100% !important;
        & img {
            transform:  rotate(0deg);

        }
    }

    .col1, .col2 {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .top {
        padding-top: 90px;
    }
    
    #img-imortal{
        margin-top: 1500px;
    }

    #img-logan {
        margin-top: 1500px;
    }


    .c-origins {
        margin-top: -3780px;
    }

    .c-imortal {

    }

    .c-logan {

    }

}


@media (min-width:321px) and (max-width:480px){

}

@media (min-width:800px){

}


